a {
    text-decoration: none;
    outline: none!important;
}

#navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    display:block;
    transition: top 0.3s;
}

header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 25px 0;
    height: 94px;
    z-index: 999;
}

.banner {
    width: 100%;
    background: url(../images/main-bg-4.jpg) no-repeat 27% top;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.desk-menu .btn-1 {
    float: right;
    color: white;
}

.btn-1 {
    display: inline-block;
    height: 44px;
    line-height: 40px;
    padding: 0 20px;
    border-radius: 25px;
    color: #00aeef;
    font-size: 15px;
    border: 2px solid #00aeef;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 9;
}

.desk-menu .main-menu {
    float: right;
    display: block;
    margin-right: 30px;
}

.desk-menu .main-menu li {
    float: left;
    list-style: none;
    margin-right: 30px;
    line-height: 40px;
}

.nav-icon {
    /*right: 40px;*/
    /*top: 29px;*/
    position: absolute;
    right: 19px;
    top: 27px;
    font-size: 40px;
    color: white;
    z-index: 99;
    line-height: 40px;
    margin-right: 43px;
}

.desk-menu a {
    text-decoration: none;
    transition: all 0.3s ease-out 0s;
    color: white;
}

/*.text-p {*/
/*margin-left: 40%;*/
/*margin-top: -20%;*/
/*color: white;*/
/*font-size: 25px;*/
/*}*/


#sec .item
{
    position: relative;
    display: inline-block;
    width: 20%;
    height: 100px;
    background-color: green;
    margin-right: 10px;
    transition: all 0.4s ease;
}

#sec .item:hover
{
    transform: scale(1.5);
    margin-right: 6%; /*fallback for old browsers */
    margin-right: calc(5% + 10px);
    margin-left: 5%;
}


/*===========================
        About Section
============================ */

.about-section {
    margin-top: 6%;
}

.about-section h2 {
    color: #5e707d;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 400;
}

.about-section .border-bottom-h2 {
    border-bottom: 4px solid #00aeef;
    width: 8%;
    margin-bottom: 10px;
}

.about-section .content-1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 50px;
    word-spacing: 0;
    text-decoration: rgb(46, 50, 53);
}


.about-section .content-2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

/*===========================
        Our Work
============================ */

.our-works {
    position: relative;
    float: right;
    width: 100%;
    min-height: 780px;
    margin-bottom: 80px;
    margin-top: 6%;
}

.our-works h2{
    color: #5e707d;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 400;
}

.our-works .border-bottom-our-work {
    border-bottom: 4px solid #00aeef;
    width: 27%;
    margin-bottom: 10px;
}

.our-works .pic-1 {
    float: right;
}

.our-works .pic-1 img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
    max-width: 100%;
}

.our-works .pic-1 .work-details {
    bottom: auto;
    top: 30px;
    left: auto;
    right: 30px;
}

.our-works .pic-1 .work-details h4 {
    margin-top: -59%;
    margin-left: 65%;
    color: white;
    font-size: 18px;
}

.our-works .pic-1 .work-details a {
    margin-left: 65%;
    display: none;
    text-decoration: none;
    color: #a9a7a5;
    opacity: 1;
}

.our-works .pic-1:hover a{
    display: block;
}

/* ------------------------------------ */

.our-works .pic-2 {
    position: absolute;
    right: 32%;
    top: 120px;
}

.our-works .pic-2 img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
    max-width: 100%;
}

.our-works .pic-2 .work-details {
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-size: 14px;
    color: #5e707d;
}

.our-works .pic-2 .work-details a {
    font-size: 14px;
    color: #00aeef;
    display: none;
}

.our-works .pic-2:hover a{
    display: block;
}

/*------------------------------------------ */

.our-works .pic-3 {
    position: absolute;
    right: 206px;
    top: 34%;
}

.our-works .pic-3 img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
    max-width: 100%;
}

.our-works .pic-3 h4 {
    font-size: 17px;
    font-weight: 100;
    color: #000;
    margin-bottom: 5px;
}

.our-works .pic-3 .work-details {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-size: 14px;
    color: #5e707d;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.our-works .pic-3 a {
    font-size: 14px;
    color: #00aeef;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.our-works .pic-3:hover .work-details{
    display: block;
}

/* --------------------------------------- */

.our-works .pic-4 {
    position: absolute;
    right: 0;
    bottom: 70px;
}

.our-works .pic-4 img {
    width: 78%;
    margin-left: -4%;
    margin-bottom: 22%;
    max-width: 100%;
}

.our-works .pic-4 .work-details {
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-size: 14px;
    color: #5e707d;
}

.our-works .pic-4 h4 {
    font-size: 17px;
    font-weight: 100;
    color: #000;
    margin-bottom: 33px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.our-works .pic-4 a {
    font-size: 14px;
    color: #00aeef;
    opacity: 0;
}

/*----------------------------*/

.our-works .pic-5 {
    position: absolute;
    right: 275px;
    bottom: 0;
}

.our-works .pic-5 img {
    width: 96%;
}


/*--------------------------*/

#owl-demo .item{
    margin: 3px;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

/***************/

/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/******************/

.number-count {
    margin-top: 10%;
    text-align: center;
}

.number-count p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 30px;
    font-size: 18px;
    color: #5e707d;
    margin: 0;
}

.number-count h3 {
    display: inline-block;
    font-size: 60px;
    line-height: 48px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #00aeef;
}

.number-count .country-num-class1:hover h3 {
    color: #7c7d7d;
}

.number-count .projects-num-class1:hover h3 {
    color: #7c7d7d;
}

.number-count .office-num-class1:hover h3 {
    color: #7c7d7d;
}


.number-count .awards-num-class1:hover h3 {
    color: #7c7d7d;
}

.number-count .country-num-class1:hover img {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-20px);
}

.number-count .awards-num-class1:hover img {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-20px);
}

.number-count .projects-num-class1:hover img {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-20px);
}

.number-count .office-num-class1:hover img {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-20px);
}

.number-count .icon {
    margin-top: 50%;
}

/*.number-count .test:hover .icon {*/
/**/
/*}*/

/*********************************/

.carousel {
    margin: 50px auto;
    padding: 0 70px;
}
.carousel .item {
    color: #999;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
    width: 135px;
    height: 135px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 50%;
}
.carousel .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}
.carousel .testimonial {
    padding: 30px 0 10px;
}
.carousel .overview {
    font-style: italic;
}
.carousel .overview b {
    text-transform: uppercase;
    color: #7AA641;
}
.carousel .carousel-control {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
    background: none;
}
.carousel-control i {
    font-size: 68px;
    line-height: 42px;
    position: absolute;
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
    bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 1px 3px;
    border-radius: 50%;
}
.carousel-indicators li {
    background: #999;
    border-color: transparent;
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {
    background: #555;
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

/****************************/

.cycle-bg .cycle-2  {
    /*border: 1px solid black;*/
    padding: 0;
    margin: 0;
}

/****************/

.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}


.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;


}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    margin-top: 45px;
}

.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    margin-top: -120px;
}

.cycle-bg .flip-container .flipper .front h2 {
    text-transform: uppercase;
    color: #00aeef;
    font-size: 110px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}

.cycle-bg .flip-container .flipper .front p {
    letter-spacing: 24px;
    color: #00aeef;
    font-weight: 500;
}

.cycle-bg .flip-container .flipper .back {
    color: #6f7a82;
}

/*=========================================
        Parallax effect
===========================================*/

.div1-class {
    margin: 0 auto;
    padding: 90px 80px;
}

.div1-class .p1 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    transition: all 0s ease 0s;
    font-weight: 100;
}

.div1-class .p2 {
    color: #889198;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 30px;
    font-size: 18px;
}

.div1-class a {
    text-decoration: none;
    border: 2px solid #00aeef;
    border-radius: 25px;
    padding: 0 25px;
    display: inline-block;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: white;
}

.div1-class a:hover {
    /*position: absolute;*/
    background-color: #00aeef;
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*margin: auto;*/
    /*content: '';*/
    /*border-radius: 50%;*/
    /*display: block;*/
    /*width: 300px;*/
    /*height: 300px;*/
    /*line-height: 20em;*/
    /*left: 50%;*/
    /*margin-left: -150px;*/
    /*text-align: center;*/
    /*-webkit-transition: -webkit-box-shadow 0.5s ease-out;*/
    /*transition: -webkit-box-shadow 0.5s ease-out;*/
    /*-o-transition: box-shadow 0.5s ease-out;*/
    /*transition: box-shadow 0.5s ease-out;*/
    /*transition: box-shadow 0.5s ease-out, -webkit-box-shadow 0.5s ease-out;*/
    /*z-index: -1;*/
}

/*----------------------
    Footer 1
-----------------------*/

.footer-1 {
    background-color: #F6F6F6;
}


/*------------------
    News Letter section
---------------------*/

.newsletter-box .txt-box {
    width: calc(100% - 133px);
    border: 1px solid #d5d5d5;
    height: 44px;
    padding: 0 10px;
    font-size: 13px;
    color: #6f7a82;
    float: left;
}

.newsletter-box .subscribe-btn {
    height: 44px;
    width: 133px;
    border: none;
    background: #00aeef;
    font-size: 14px;
    color: #fff;
    float: right;
    text-align: center;
    line-height: 44px;
}

.footer-1 .nav-footer p {
    font-family: "Open Sans", sans-serif;
    text-align: left;
    font-size: 14px;
    color: #5e707d;
    line-height: 32px;
    transition:  all 0s ease 0s;
}

.footer-1 .nav-footer p:first-child {
    color: black;
    font-weight: bold;
}

.footer-1 .services {
    font-family: "Open Sans", sans-serif;
    text-align: left;
    font-size: 14px;
    color: #5e707d;
    line-height: 32px;
    transition:  all 0s ease 0s;
}

.footer-1 .services p:first-child {
    color: black;
    font-weight: bold;
}

.footer-1 .footer-contact p:first-child {
    color: black;
    font-weight: bold;
}

.footer-1 .footer-contact i {
    font-size: 20px;
    width: 35px;
    height: 35px;
    display: block;
    border: 2px solid #00aeef;
    text-align: center;
    border-radius: 50%;
    line-height: 35px;
    display: inline-block;
    left: 0;
    top: -3px;
    color: #00aeef;
}

.footer-1 .email-iconn i{
    margin-right: 20px;
}

.footer-1 .skype-iconn i{
    margin-right: 20px;
}

.footer-1 .phone-iconn i{
    margin-right: 20px;
}

.footer-1 .email-iconn:hover i {
    background-color: #00aeef;
    color: white;
}

.footer-1 .email-iconn:hover span {
    color: #00aeef;
}

.footer-1 .skype-iconn:hover i {
    background-color: #00aeef;
    color: white;
}

.footer-1 .skype-iconn:hover span {
    color: #00aeef;
}

.footer-1 .phone-iconn:hover i {
    background-color: #00aeef;
    color: white;
}

.footer-1 .phone-iconn:hover span {
    color: #00aeef;
}

.footer-contact .footer-icons span{
    /*display: block;*/
    font-size: 20px;
    color: #fff;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    border-radius: 50%;
    background: #3b5998;
    margin-left: 13px;
    transition: all 0.3s ease-out 0s;
}

.footer-contact .footer-icons span:nth-child(2) {
    background-color: #00aced;
}


.footer-contact .footer-icons span:nth-child(3) {
    background-color: #007bb6;
}


.footer-contact .footer-icons span:nth-child(4) {
    background-color: #dd4b39;
}

.footer-contact .footer-icons .fb:hover {
    background: #969898;
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

.footer-contact .footer-icons .tweet:hover {
    background: #969898;
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

.footer-contact .footer-icons .linked:hover {
    background: #969898;
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

.footer-contact .footer-icons .googleicon:hover {
    background: #969898;
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

.newsletter-box a {
    text-decoration: none;
    font-size: 22px;
    color: #6f7a82;
    padding: 15px;
    background: #fff;
    margin-bottom: 8px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    display: block;
}

.newsletter-box a span {
    display: block;
    background: url(https://cdn.acodez.in/wp-content/themes/acodez/images/icon_sprite.png) no-repeat 0 0;
    padding-left: 40px;
    min-height: 35px;
}

.newsletter-box .awards:hover {
    background: #46beea;
    color: #fff;
    text-shadow: none;
}

.newsletter-box .certificate {
    display: block;
}

.newsletter-box .certificate a {
    display: inline-block;
    width: 50%;
}

.newsletter-box .certificate a:first-child {

}

.newsletter-box .certificate a:nth-child(2) {
    float: left;
}